<div class="container">
  <h1>Listing Articles</h1>
<h4><%= link_to "New Article", new_article_path %></h4>
<table>
  <tr>
    <th>Title</th>
    <th>Description</th>
  </tr>
  <% @articles.each do |article| %>
    <tr>
      <td><%= article.title %></td>
      <td><%= article.description %></td>
      <td><%= link_to 'Show', article_path(article)  %></td>
      <td><%= link_to 'Edit', edit_article_path(article)  %></td>
      <td><%= link_to 'Delete', article_path(article), method: :delete, data: {confirm: "Are you sure?"}  %></td>
    </tr>
  <% end %>
</table>

<h4><%= link_to 'Home', root_path %></h4>
</div>