<h1 class='center'><%= "#{@user.username}" %></h1>
  <% if @user.admin? %>
    <div class='center'>
      <span class='admin'>Admin</span>
    </div><br/>
  <% end %>
<div class='row'>
  <div class='col-md-4 col-md-offset-4 center'>
    <%= gravatar_for @user, size: 150 %> 
  </div>
</div>
<% if @user.articles.any? %>
    <h4 class='center'><%= @user.username %>'s Articles </h4>
    <div class='center'>
      <%= will_paginate @user_articles %>
    </div>
      <%= render 'articles/article', obj: @user_articles %>
  <% else %>
    <h4 class='center'><%= "#{@user.username} has no articles. This is very sad." %></h4>
<% end %>