<div class="container">
  <h1 id= 'index-header', class='red-text center'><%=  @category.name %></h1>
  <div class='center'>
    <% if logged_in? && current_user.admin? %>
    <div class='category-actions center'>
      <%= link_to 'Edit', edit_category_path(@category) %> |
      <%= link_to 'Delete', category_path(@category), method: :delete, data: {confirm: "Are you sure?"}  %>
    </div>
    <% end %>
    <%= will_paginate @category_articles %>
  </div>
    
  <%= render 'articles/article', obj: @category_articles %>
  <% if @category_articles.length > 3 %>
    <div class='center'>
      <%= will_paginate @category_articles %>
    </div>
  <% end %>
</div>