<div class="container">
  <h1 id= 'index-header', class='red-text center'><%=  @category.name %></h1>
  <div class='center'>
    <%= will_paginate @category_articles %>
  </div>
    <% if logged_in? && current_user.admin? %>
    <div class='article-actions center'>
      <%= link_to 'Edit', edit_category_path(@category) %><br/> 
    </div>
    <% end %>
  <%= render 'articles/article', obj: @category_articles %>
  <% if @category_articles.length > 3 %>
    <div class='center'>
      <%= will_paginate @category_articles %>
    </div>
  <% end %>
</div>